@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* font-family: 'Poppins', sans-serif; */
* {
  font-family: "Poppins", sans-serif;
}
nav {
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.nav-item {
  padding: 0 1rem 0 1rem;
}
.nav-link {
  font-weight: 500;
}
h1 {
  font-size: 30px;
}

.banner_img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.category-item{
  flex: 1 0 21%;
}
.category-item > img {
  border-radius: 50%;
}

.icons {
  padding: 0 1em 0 1em;
}

.commentInput {
  border: 0 !important; 
  outline: 0 !important;
  background: transparent !important;
  border-bottom: 1px solid black !important;
}

footer {
  width: 100%;
  min-height: 20rem;
  background-color: #87cbb9;
}

#map {
  height: 100%;
}

.img_avatar{
  width: 3rem;
  height: 3rem;
}

.btn-primary {
  width: 6rem !important;
  height: 2.75rem !important;
  color: #577D86 !important;
  font-weight: 600 !important;
  background-color: #B9EDDD !important;
  border: none !important;
}

.btn-primary:hover {

  color: #6a98a2 !important;
  font-weight: 600 !important;
  background-color: #99ddc9 !important;
  border: none !important;
}

.btn-secondary {
  width: 6rem !important;
  height: 2.75rem !important;
  color: white !important;
  font-weight: 600 !important;
  background-color: #87CBB9 !important;
  border: none !important;
}

.btn-secondary:hover {

  color: white !important;
  font-weight: 600 !important;
  background-color: #65ab98 !important;
  border: none !important;
}

.search_items .card {
  max-width: 50rem !important;
}
.search_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}